
/*-------------------------------------------header------------------------------------------*/
:root{
    --brand-color: #212121;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1)
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    }

ul, ol{
    margin: 0;
    padding-left: 0;
    } 

button{
    cursor: pointer;
    }
img{
    display: block;
}
.header{
    background: #FFFFFF;
    } 

.list{
    list-style:none ;
        }
.link{
    text-decoration: none;
            }    
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
  }


.header{
    border-bottom: 1px solid #ECECEC
}

.header-navigation{
    display: flex;
    align-items: center;

}

.header-container{
    display: flex;
    align-items: center;
    

}

.weblogo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;


    }


.weblogo-web{
    color: #2196F3;
    margin: 0 auto;
    }   


.header-link:hover, .header-link:focus{
    color: #2196F3;
    transition: 250ms var(--timing-function);
        }
   
.header-list{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: flex; 
    gap: 50px;
    
        

    }
.header-item{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--brand-color);
    padding-top: 32px;
    padding-bottom: 32px; 
    
          
    }
.header-link{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    transition: 250ms var(--timing-function);
      
    }

.header-list .link.current {
    position: relative;
    color: var(--accent-color);
      
    transition-property: background-color;
    transition-duration: 250ms var(--timing-function);

}
      
.header-list .link.current::after {
     content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 4px;
    background-size: cover;
    background-color: #2196f3;
    border-radius: 2px;

    transform: scaleX(1);
    transition: 250ms var(--timing-function);
}


.header-icon{
    fill: #757575;
    transition: 250ms var(--timing-function)
}  

.header-mail{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color:  #757575;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: 250ms var(--timing-function);
}  

.header-mail:hover .header-icon,
.header-mail:focus .header-icon {
    
    fill: #2196F3;
    transition: fill 250ms var(--timing-function);

}
.header-mail:hover,
.header-mail:focus {
    color: #2196F3;
    transition: 250ms var(--timing-function);

}

.header-connect{
    margin-left: auto;
    display: flex;
    height: 85px;
}
.header-tel:hover,
.header-tel:focus{
    color: #2196F3;  
    transition: 250ms var(--timing-function); 
}
.header-tel:hover .header-icon,
.header-tel:focus .header-icon{
   fill: #2196F3; 
   transition: 250ms var(--timing-function); 
}

.header-tel{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: 250ms var(--timing-function)
}  

/*-----------------------------------------decision-----------------------------------------------*/

body{
    font-family: 'Roboto',sans-serif;
}


.decision{
    background: #C4C4C4;;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-Gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Img-Hero.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    max-width: 1600px;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.decision-info{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    width: 629px;
    height: 120px;
    }

.decision-btr{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF; 
    background: #2196F3; 
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 0 auto;
    min-width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196F3;
    margin-top: 30px;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
    z-index: 1;
    transition: 250ms var(--timing-function)
}
/*---------------------Модальне вікно---------------*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms var(--timing-function);
    padding: 40px;
}

.button-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: 250ms var(--timing-function);
    right: 8px;
    top: 8px;
    
}

.benefits-icon-img:hover,
.benefits-icon-img:focus {
    fill: #2196f3;
}

.modal-form-title {
    display: block;
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    align-items: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color-title);
}
.modal-group {
    display: block;
    
}


  
.form-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.form-input {
    width: 448px;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:hover,
.form-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox {
    position: relative;
    margin-bottom: 30px;
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
}
.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
    border-color: #2196f3;
    background-color: #2196f3;
    background-image: url(../images/Vector.svg);
    background-size: contain;
    background-origin: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.modal-form-text {
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.modal-form-link {
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #188CE8;
}
.modal-form-btn {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #188CE8;;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/*-----------------------------------------benefits-----------------------------------------------*/

.benefits {
    background: #FFFFFF;
    padding-top: 94px; 
    padding-bottom: 94px;
}
.benefits-icon-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.benefits-icon-link{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

}

.benefits-top{
    display: flex; 
    justify-content: center;
    gap: 30px; 
     
    background: #FFFFFF;
}
.benefits-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);    
    margin-bottom: 10px;
   
}
.benefits-list-text {
    width: 270px;
    height: 72px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;   
    
}
/*-----------------------------------------about-----------------------------------------------*/
.about {
    padding-bottom: 94px;
}
.about-top {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 50px;

}
.about-list{

    display: flex; 
    justify-content: center;
    gap: 30px;
}

.about-img-link{
    position: relative;
    display: block;
    line-height: 0;



}
.about-img-title{

    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;


}

.about-img1{
 
}
.about-img2 {

}
.about-img3 {

}

/*-----------------------------------------team-----------------------------------------------*/
.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-container{

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    padding-top: 94;
    margin-bottom: 50px;
    

    }

.team-list{
    display: flex; 
    justify-content: center;
    gap: 30px;
    
      

}

.team-name-top{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-img {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: block;
    

}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color:var(--brand-color);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
}
.team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;

}

.team-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.team-soc-item{
 
}

.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms var(--timing-function)

}


.team-soc-link:hover, .team-soc-link:focus {
    background-color: #2196F3  ;
    transition: 250ms var(--timing-function);
    
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon{
    fill: #FFFFFF;
    transition: fill 250ms var(--timing-function);
}

.team-soc-icon{
    fill: #AFB1B8;
    transition: 250ms var(--timing-function)

}
/*-----------------------------------clients-------------------------------*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-top{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 50px;


}
.clients-top-list{
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.clients-top-item{



    
}



.clients-top-img-list{
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    border-radius: 4px;
    transition: 250ms var(--timing-function)

}

.clients-top-img-list:hover, 
.clients-top-img-list:focus {
    border: 1px solid #2196F3;
    transition: 250ms var(--timing-function);
}
.clients-top-img-list:hover .clients-top-img,
.clients-top-img-list:focus .clients-top-img{
    fill: #2196F3;
    transition: fill 250ms var(--timing-function);
}

.clients-top-img{
    fill:  #AFB1B8;
}

/*-----------------------------------------footer-----------------------------------------------*/
.footer{
    background: #2F303A;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.top-footer{
    display: flex;
    align-items: center;
                    align-items: baseline;}

.footer-container{
    
    display: block;
    margin-right: 70px;
    

}
.footer-weblogo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 60px;

}


.footer-adress {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
    padding-top: 20px;
    transition: 250ms var(--timing-function);
}

.footer-adress:hover{
    color: #2196F3;
    transition: 250ms var(--timing-function);
}

.footer-mail {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    transition: 250ms var(--timing-function)
    
}

.footer-mail:hover{
    color: #2196F3;
    transition: 250ms var(--timing-function)
}

.footer-tel {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms var(--timing-function);
    
}
.footer-tel:hover{
    color: #2196F3;
    transition: 250ms var(--timing-function);
}

.footer-soc{
    display: block;
    align-items: center;
    justify-content: center;
}

.footer-Join{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}



.footer-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-item{  }

.footer-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    transition: 250ms var(--timing-function)
    }

.footer-soc-link:hover, 
.footer-soc-link:focus {
    background-color: #2196F3  ;
    transition: 250ms var(--timing-function);
 }


.footer-soc-icon{
    fill: #FFFFFF;
    transition:fill 250ms var(--timing-function);
    }

.mailing-footer-box{
    margin-left: 90px;

}
.mailing-title {
    font-family: "Roboto" sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.mailing-footer {
    display: flex;
}

.form-mailing-footer {
    width: 358px;
    height: 50px;
}

.form-mailing-footer input {
    width: 358px;
    height: 50px;
    margin: 0;
    padding: 15px 16px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-input:hover,
.mailing-input:focus {
    color: #ffffff;
    border-color:  #188CE8;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.mailing-btn-footer {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 28px;
    gap: 10px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #188CE8;;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-btn-footer:hover,
.mailing-btn-footer:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-text {
}

.mailing-icon {
}

.icon-send{
    fill: #FFFFFF;
}


/*-----------------------------------------Portfolio-----------------------------------------------*/


/*-----------------------------------------projects-----------------------------------------------*/


.projects{
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-container{
    display: flex; 
    gap: 30px;
    flex-wrap: wrap;
}
.projects-menu{
    display: flex; 
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}
.projects-menu-btn:hover, .projects-menu-btn:focus {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: 250ms var(--timing-function);
} 


.projects-menu-btn {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    background: #F5F4FA;
    border: #F5F4FA;
    padding: 6px 22px ;
    gap: 8px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    transition: 250ms var(--timing-function)

}

.projects-link{
    transition: 250ms var(--timing-function);

}
.projects-link:hover,.projects-link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
     transition: 250ms var(--timing-function);

}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transition: 250ms var(--timing-function)
}
.projects-item {
    max-width: calc(100%-60px/3);
    transition: 250ms var(--timing-function)

}

.projects-item-img {
    width: 370px;
    height: 294px;
    
}
.projects-item-position{
     padding: 20px 24px 24px 24px;
     border: 1px solid #EEEEEE;

}

.projects-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color);
   
}
.projects-item-view {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
.gallery-list-box{
    position: relative;
    overflow: hidden;
}

.overlay-box{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);

    width: 374px;
    height: 297px;
    opacity: 0;
    transition: 250ms var(--timing-function)

}
.overlay-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  
    color: #ffffff;

}
.projects-list .link:hover .overlay-box,
.projects-list .link:focus .overlay-box {
  transform: translateY(0%);
  opacity: 1;
  transition: 250ms var(--timing-function);
  
}